<div class="col-10 mx-auto p-4 py-md-5">
  <main>
    <h3 class="text-body-emphasis text-center">Lista anime</h3>
<!--    <p>Filtry:</p>-->
<!--    <div class="mb-3 col-3 form-floating">-->
<!--      <input type="number" min="0" max="10" step="0.1" name="rating" [(ngModel)]="ratingFilter" (input)="filterAnimeByRating(ratingFilter)" class="form-control" id="rating">-->
<!--      <label for="rating">Ocena</label>-->
<!--    </div>-->
    <div class="row">
      <div class="col-2 col-lg-4 mt-3 mb-3">
        Liczba anime na stronę:
        <select (change)="handlePageSizeChange($event)">
          @for (size of pageSizes; track size) {
            <option>
              {{ size }}
            </option>
          }
        </select>
      </div>
      <div class="col-2 col-lg-4 mt-3 mb-3 ms-auto" role="search">
        <input class="form-control" type="search" placeholder="Szukaj" aria-label="Szukaj" [formControl]="searchControl">
      </div>
    </div>
    <div class="row gy-4 row-cols-custom-2 row-cols-md-3 row-cols-lg-5">
      <div class="col-2 p-3" *ngFor="let anime of animes | paginate : {
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: count
      }">
  <!--      <td>{{ anime.title }}</td>-->
  <!--      <td>{{ anime.episodes }}</td>-->
  <!--      <td>{{ anime.status }}</td>-->
  <!--      <td>{{ anime.genre }}</td>-->
  <!--      <td>{{ ratings.get(anime.id) ?? 'brak recenzji' }}</td>-->
  <!--      <td><a (click)="navigateToReviews(anime.id)">Link do recenzji</a></td>-->
  <!--      <td><a (click)="navigateToAddNewReview(anime.id)">Nowa recenzja</a></td>-->
        <a (click)="navigateToReviews(anime.mal_id)">
          <img class="image-cover" src="{{ anime.images.jpg.large_image_url }}">
        </a>
        <a class="mt-1" (click)="navigateToReviews(anime.mal_id)">{{ anime.title }}</a>
      </div>
    </div>
    <div class="col-12 mt-5">
      <pagination-controls
        previousLabel="Poprzednia"
        nextLabel="Następna"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
  </main>
</div>
